@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
   --primary-red: hsl(0, 100%, 74%);
   --primary-green-light: hsl(154, 49%, 51%);
   --primary-green: hsl(154, 59%, 51%);
   --primary-green-dark: hsl(154, 69%, 36%);
   --secondary: hsl(248, 32%, 49%);
   --dark-blue: hsl(249, 10%, 26%);
   --grayish-blue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 'Poppins', sans-serif;
   width: 100%;
   min-height: 100vh;
   height: fit-content;
   background-color: var(--primary-red);
   background-image: url(images/bg-intro-desktop.png);
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;;
}

/* SIGN UP CONTAINER*/
.signup {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
   grid-column-gap: 6rem;
   padding: 11%;
}

/* HERO CONTAINER (LEFT)*/
.signup__hero {
   text-align: left;
   color: #FFF;
}

.signup__hero--title {
   font-size: 4.5rem;
   line-height: 1.1;
   margin-bottom: 2.5rem;
}

.signup__hero--paragraph {
   font-size: 1.5rem;
   font-weight: 500;
}

/* FORM CONTAINER (RIGHT)*/
.signup__form {
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.signup__form--heading {
   font-size: 1.4rem;
   margin-bottom: 2.5rem;
   border-radius: 8px;
   background-color: var(--secondary);
   padding: 3% 16%;
   width: 100%;
   box-shadow: 0 7px 0 rgba(0, 0, 0, .2);
   color: var(--grayish-blue);
   font-weight: 400;
}

.signup__form--heading-text span {
   color: #FFF;
   font-weight: 600;
}

.signup__form--box {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #FFF;
   border-radius: 8px;
   width: 100%;
   padding: 7%;
   box-shadow: 0 7px 0 rgba(0, 0, 0, .2);
}

.signup__form--input-field,
.signup__form--submit {
   width: 100%;
   border: 0;
   outline: 0;
}

.signup__form--input {
   width: 100%;
   position: relative;
   margin-bottom: 2rem;
}

.signup__form--input-field {
   padding: 1.5rem 3rem;
   border-radius: 6px;
   border: 1px solid var(--grayish-blue);
   color: var(--dark-blue);
   font-family: inherit;
   font-size: 1.4rem;
   font-weight: 700;
   transition: all .3s;
}

.signup__form--input-field:focus {
   border-color: var(--dark-blue);
}

.error-icon {
   position: absolute;
   right: 1.5rem;
   top: 1.5rem;
   width: 2.4rem;
   height: 2.4rem;
   display: none;
}

.error-warning {
   margin-top: .8rem;
   display: block;
   width: 100%;
   text-align: right;
   font-size: 1rem;
   font-style: italic;
   font-weight: 500;
   color: var(--primary-red)
}

.btn {
   text-decoration: none;
   transition: all .3s;
}

.signup__form--submit {
   margin-bottom: 1.8rem;
   padding: 1.5rem;
   font-size: 1.4rem;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   background-color: var(--primary-green);
   color: #FFF;
   border-radius: 6px;
   box-shadow: 0 4px 0 var(--primary-green-dark);
   cursor: pointer;
   transition: all .3s;
}

.signup__form--submit:hover {
   background-color: var(--primary-green-light);
}

.signup__form--submit:active {
   box-shadow: 0 0 0 var(--primary-green-dark);
   transform: translateY(.4rem);
}

.signup__form--terms {
   font-size: 1rem;
   font-weight: 600;
   color: var(--grayish-blue);
}

.signup__form--terms a {
   font-weight: 700;
   color: var(--primary-red);
   display: inline-block;
   position: relative;
}

.signup__form--terms a::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 1px;
   background-color: currentColor;
   height: 1px;
   width: 0;
   transition: all .3s;
}

.signup__form--terms a:hover::after {
   width: 100%;
}


.attribution {
   font-size: 1.1rem;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}

/************ MEDIA *************/
/* At the top level of your code */
@media screen and (max-width: 1260px) {
   .signup {
      padding: 7.5%;
   }
}

@media screen and (max-width: 1100px) {
   html {
      font-size: 60%;
   }

   .signup {
      padding: 6%;
   }

   .signup {
      grid-column-gap: 5rem;
   }

   .error-icon {
      transform: scale(.9);
   }
}

@media screen and (max-width: 950px) {
   .signup {
      padding: 5%;
   }

   .signup__form--input-field {
      padding: 1.4rem 2.5rem;
   }


   .error-icon {
      right: 1.4rem;
      top: 1.4rem;
      transform: scale(.8);
   }
}

@media screen and (max-width: 850px) {
   html {
      font-size: 57%;
   }

   .signup {
      padding: 4.5%;
   }

   .signup__form--input-field {
      padding: 1.4rem 2rem;
   }

   .signup {
      grid-column-gap: 3.5rem;
   }


   .error-icon {
      transform: scale(.7);
   }

}

@media screen and (max-width: 750px) {
   html {
      font-size: 60%;
   }

   .signup {
      padding: 10%;
   }

   .signup {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 7rem;
   }

   .error-icon {
      transform: scale(.7);
   }


   .signup__hero {
      text-align: center;
   }
}

@media screen and (max-width: 550px) {
   .signup {
      padding: 7%;
   }
}

@media screen and (max-width: 550px) {

   .signup__hero--title {
      font-size: 3.5rem;
   }
}

@media screen and (max-width: 375px) {
   .signup {
      padding: 5%;
   }

   .signup__hero--title {
      font-size: 3rem;
   }

   .signup__form--heading {
      padding: 5% 25%;
   }

}